.img-box{
	column-count: 4;
	width: 80%;
	margin:auto;
	box-shadow: 0 0 20px 3px white;
}
.image{
	max-width: 100%;
	display: block;
}
  .image+.image{
  	   margin: 5px;
  }
  body{
  	  background-color: black;
  }
  .image:hover{
  	filter: sepia(100%);
  }
  .head{
  	color:white;
  	font-size: 40px;
  	text-align: center;
  }