body{
	background-color: #fff  ;
	widows: 90%;
	margin: auto;
	box-shadow: 0 0 50px 10px black;
	font-family: 'Climate Crisis', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}
h1{
	font-size: 100px;
	text-align: center;
}
p{
	font-size: 30px;
}

img{
	width:1000px ;
   height: 500px;
}
a{
	font-size: 30px;
}